* {
	margin:0; padding:0;
}
#wrap {
	width:954px;
	margin:0 auto;
	border:3px solid #03d;
}
#header {
	background-color:#fed;
	height:100px;
	margin:10px;
	margin-bottom:5px;
	width:934px;
}
#left {
	background-color:#efc;
	height:300px;
	width:300px;
	margin:5px 5px 5px 5px;
	float:left;
}
#contents {
	background-color:#347;
	width:624px;
	height:300px;
	float:left;
	margin-bottom:10px;
}
#footer {
	clear:both;
	background-color:#728;
	height:100px;
}
